---
import 'bootstrap/dist/css/bootstrap.min.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>NeWenTech Solutions</title>
    </head>
    <body>
        <slot />
    </body>
</html>